<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'clients')}">

<body>

<h2 style="font-family: Orbitron; color: #00d1b2; padding: 20px;">
    <th:block th:if="${visit['new']}">New </th:block>
    Visit
</h2>
<hr>
<b style="font-family: Orbitron; color: #00d1b2; padding: 20px;">Device</b>
<hr>
<table class="table table-striped" style="background: transparent;">
    <thead style="background-color: transparent; background: transparent;">
    <tr style="color: transparent; background-color: transparent;">
        <th style="font-family: Orbitron; color: #00d1b2;">Name</th>
        <th style="font-family: Orbitron; color: #00d1b2;">Bought Date</th>
        <th style="font-family: Orbitron; color: #00d1b2;">Type</th>
        <th style="font-family: Orbitron; color: #00d1b2;">Client</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${device.name}" style="color: white;" /></td>
        <td
                th:text="${#temporals.format(device.boughtDate, 'yyyy-MM-dd')}"  style="color: white;"/></td>
        <td th:text="${device.type}" style="color: white;"/></td>
        <td
                th:text="${device.client?.firstName + ' ' + device.client?.lastName}" style="color: white;"/></td>
    </tr>
</table>

<form th:object="${visit}" class="form-horizontal" method="post">
    <div class="form-group has-feedback" style="font-family: Orbitron; color: white;">
        <input
                th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}" style="font-family: Orbitron; color: #00d1b2;" />
        <input
                th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" style="font-family: Orbitron; color: #00d1b2;" />
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" style="padding: 20px;">
            <input type="hidden" name="deviceId" th:value="${device.id}" />
            <button class="btn btn-default" type="submit" style="font-family: Orbitron; color: #00d1b2;mix-blend-mode: difference;background-color: black;padding: 10;">Add Visit</button>
        </div>
    </div>
</form>

<br />
<hr>
<b style="font-family: Orbitron; color: #00d1b2;">Previous Visits</b>
<hr>
<table class="table table-striped" style="background: transparent;">
    <tr>
        <th style="font-family: Orbitron; color: #00d1b2; padding: 20px;">Date</th>
        <th style="font-family: Orbitron; color: #00d1b2; padding: 20px;">Description</th>
    </tr>
    <tr th:if="${!visit['new']}" th:each="visit : ${device.visits}">
        <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}" style="color: white;"/></td>
        <td th:text=" ${visit.description}" style="color: white;" /></td>
    </tr>
</table>

</body>
</html>