<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'servicers')}">

<body>
<table id="servicers" class="table table-striped" style="background: center; font:-webkit-control;color: white;">
    <thead>
    <tr>
        <th style="color: #00d1b2;font-family: Orbitron;">Name</th>
        <th style="color: #00d1b2;font-family: Orbitron;">Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="servicer : ${servicers.servicerList}">
        <td th:text="${servicer.firstName + ' ' + servicer.lastName}"></td>
        <td><span th:each="specialty : ${servicer.specialties}"
                  th:text="${specialty.name + ' '}" /> <span
                th:if="${servicer.nrOfSpecialties == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>