<!doctype html>
<html lang="en" xml:lang="en"
      th:fragment="layout (template, menu)"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.ico}">

    <title>PClinic</title>

    <link rel="stylesheet" th:href="@{/resources/css/html5-boilerplate.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}"/>

    <link rel="stylesheet" th:href="@{/resources/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/resources/css/fontandglitch.css}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

</head>

<body style="background-color:black;">

<div class="is-hidden-mobile" id="particles-js"></div>

<section class="hero is-dark" style="background-color: black;">
    <div class="hero-head">
        <div class="container">
            <div class="navbar-brand">

                <a class="navbar-item" href="https://github.com/53jk1">
                    <img alt="logo" src="/resources/images/favicon.ico"/>
                </a>

                <span class="navbar-item has-text-primary has-text-orbitron">PClinic</span>

                <div id="navbar-burger-id" class="navbar-burger burger" aria-label="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>

            <div id="navbar-menu-id" class="navbar-menu" style="background: transparent;">
                <div class="navbar-start">

                    <a class="navbar-item" href="/" style="color: #00d1b2;">
                            <span class="icon">
                                <i class="fas fa-home"></i>
                            </span>
                        <span>Home</span>
                    </a>

                    <a class="navbar-item" href="/clients/find" style="color: #00d1b2;">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        <span>Find Clients</span>
                    </a>

                    <a class="navbar-item" href="/clients/new" style="color: #00d1b2;">
                            <span class="icon">
                                <i class="fas fa-user-plus"></i>
                            </span>
                        <span>Add Client</span>
                    </a>

                    <a class="navbar-item" href="/servicers.html" style="color: #00d1b2;">
                            <span class="icon">
                                <i class="fas fa-tools"></i>
                            </span>
                        <span>Servicemans</span>
                    </a>

                    <a class="navbar-item" href="./h2-console" style="color: #00d1b2;">
                            <span class="icon">
                                <i class="fas fa-database"></i>
                            </span>
                        <span>Database Console</span>
                    </a>

                    <a class="navbar-item" href="/oups" style="color: #00d1b2;">
                                <span class="icon">
                                    <i class="fas fa-bug"></i>
                                </span>
                        <span>Bug</span>
                    </a>

                    <div class="navbar-end"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="background: black;">
    <section class="container xd-container" style="text-align:-webkit-center;">

            <th:block th:include="${template}"/>
            <br/>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">

                    </div>
                </div>
            </div>
    </section>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/javascripts/jqueryfix.js}"></script>
<script th:src="@{/resources/javascripts/particlesjs.js}"></script>
<script th:src="@{/resources/javascripts/animated-background.js}"></script>
<script th:src="@{/resources/javascripts/tabs.js}"></script>
<script th:src="@{/resources/javascripts/navbar.js}"></script>
<script src="https://kit.fontawesome.com/5165e8b283.js" crossorigin="anonymous"></script>

</body>

</html>