<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'clients')}">

<body>

<table id="clients" class="table table-striped" style="background: center; font:-webkit-control;color: white;">
    <thead>
    <tr>
        <th style="width: 150px; color: #00d1b2;font-family: Orbitron;">Name</th>
        <th style="width: 200px; color: #00d1b2;font-family: Orbitron;">Address</th>
        <th>City</th>
        <th style="width: 120px; color: #00d1b2;font-family: Orbitron;">Telephone</th>
        <th style="color: #00d1b2;font-family: Orbitron;">Devices</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${selections}">
        <td>
            <a th:href="@{/clients/__${client.id}__}" th:text="${client.firstName + ' ' + client.lastName}"/></a>
        </td>
        <td th:text="${client.address}"/>
        <td th:text="${client.city}"/>
        <td th:text="${client.telephone}"/>
        <td><span th:each="device : ${client.devices}" th:text="${device.name} "/></td>
    </tr>
    </tbody>
</table>

</body>
</html>