<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<container class="has-text-centered">
    <div class="columns" style="padding: 5%;">
        <div class="column is-one-third is-offset-one-third">
            <figure class="image">
                <img alt="logo" src="resources/images/favicon.ico" style="
    max-width: 283px;
    margin-left: auto;
    margin-right: auto;
    max-height: 283px;
    display: block;"/>
            </figure>
            <div class="glitch-container">
                <h2 class="glitch">PClinic</h2>
            </div>
        </div>
    </div>
</container>

</body>

</html>